h1 {
	display: block;
	width: auto;
	line-height: 1.2;
	color: rgb(10, 10, 10);
	font-size: 23px;
}

h2 {
	display: block;
	line-height: 1.2;
	color: rgb(10, 10, 10);
	font-size: 19px;
	margin-top: 25px;
}

h2::after {
	content: "";
	margin-top: 12px;
	border-bottom: 4px solid rgb(22, 141, 226);
	display: block;
}

a {
	color: rgb(35, 82, 124);
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: rgb(176, 73, 59);
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 1px 0px 0px;
	border-style: solid none none;
	border-color: rgb(238, 238, 238) currentcolor currentcolor;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-o-border-image: none;
	border-image: none;
}

body {
	display: block;
	font-family: "Open Sans", sans-serif;
	background: rgb(250, 250, 250) none repeat scroll 0% 0%;
	height: auto;
	color: rgb(68, 68, 68);
	line-height: 1.5625;
}

.header {
	display: block;
	width: 100%;
	background: transparent none repeat scroll 0% 0%;
	margin: 0px auto;
}

.header-top {
	display: block;
	width: 100%;
	background: transparent none repeat scroll 0% 0%;
}

.header-top-container {
	width: 96%;
	max-width: 960px;
	display: block;
	margin: 0px auto;
	padding: 20px 2% 15px;
}

.header-top-left {
	display: block;
	float: left;
	width: 30%;
}

.header-top-left-logo {
	display: block;
	width: 100%;
	float: left;
	min-width: 30%;
}

.header-top-left-logo img {
	display: block;
	width: 100%;
}

.header-top-left::after {
	content: "";
	display: block;
	clear: both;
}

.header-top-right {
	display: block;
	float: right;
	width: auto;
	margin-top: 2%;
}

.header-top-right-text {
	display: block;
	width: auto;
	margin-bottom: 3%;
}

.header-top-right-text ul {
	display: block;
	font-size: 0px;
	float: right;
}

.header-top-right-text ul li {
	display: inline-block;
	width: auto;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(10, 10, 10);
}

.header-top-right-text ul li.separate {
	margin: 0px 5px;
	font-weight: normal;
	color: rgb(10, 10, 10);
}

.header-top-right-text ul li a {
	text-decoration: underline;
	font-weight: normal;
	color: rgb(10, 10, 10);
	opacity: 1;
}

.header-top-right-text ul li a:hover {
	opacity: 0.8;
}

.header-top-right-text::after {
	content: "";
	display: block;
	clear: both;
}

.header-top-right-search {
	display: block;
	width: auto;
}

.input-search {
	display: block;
	border: 1px solid rgb(169, 169, 169);
	padding: 5px;
	width: 170px;
}

.header-top-container::after {
	content: "";
	display: block;
	clear: both;
}

.header-bottom {
	display: block;
	width: 100%;
	background: rgb(51, 53, 65) none repeat scroll 0% 0%;
}

.header-bottom-container {
	max-width: 960px;
	margin: 0px auto;
	width: 96%;
	display: block;
	padding: 13px 2%;
}

.header-bottom ul {
	display: block;
	font-size: 0px;
}

.header-bottom ul li {
	display: inline-block;
	width: auto;
	padding: 0px 3%;
}

.header-bottom ul li a {
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	opacity: 1;
}

.header-bottom ul li a:hover {
	opacity: 0.8;
}

.content {
	display: block;
	width: 97%;
	max-width: 1000px;
	margin: 0px auto;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	padding: 25px 1.5%;
	position: relative;
}

.content-left {
	display: block;
	float: left;
	width: 71%;
	padding-right: 2%;
}

.content-left-social {
	display: block;
	width: 96%;
	background: rgb(238, 238, 238) none repeat scroll 0% 0%;
	padding: 1% 2%;
	margin: 15px 0px;
}

.content-left-social-pictures {
	display: block;
	width: 50%;
	float: left;
}

.content-left-social-pictures img {
	display: block;
	width: auto;
}

.content-left-social-comments {
	display: block;
	float: right;
	width: 50%;
	text-align: right;
	font-size: 13px;
}

.content-left-social-comments a {
	margin-left: 1%;
}

.content-left-social::after {
	content: "";
	display: block;
	clear: both;
}

.content-left-doctor {
	display: block;
	width: 96%;
	background-color: rgb(226, 226, 226);
	padding: 2%;
	margin-top: 25px;
}

.content-left-doctor-foto {
	display: block;
	width: 48%;
	float: left;
	margin-right: 2%;
}

.content-left-doctor-foto img {
	width: 100%;
	display: block;
}

.content-left-doctor-text {
	display: block;
	width: 50%;
	float: right;
}

.content-left-doctor::after {
	content: "";
	display: block;
	clear: both;
}

.content-important {
	display: block;
	width: auto;
	text-align: left;
	font-weight: bold;
	font-style: italic;
}

.buy-button-block::after {
	content: "";
	display: block;
	clear: both;
}

.opros-product-block {
	display: block;
	width: auto;
	margin-top: 2%;
}

.opros-product-line-right::after {
	content: "";
	display: block;
	clear: both;
}

.opros-product-line::after {
	content: "";
	display: block;
	clear: both;
}

.like-block {
	display: block;
	width: 95.7%;
	border: 2px solid rgb(230, 230, 230);
	padding: 0px 2% 2%;
	margin: 3% 0px;
	border-radius: 3px;
}

.like-block img {
	display: block;
	width: auto;
}

.vk-container {
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.vk-header {
	background: rgb(218, 226, 232) none repeat scroll 0% 0%;
	padding: 4px 4px 4px 6px;
	margin-bottom: 10px;
}

.vk-logo {
	background: transparent none no-repeat scroll 0% 0%;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -1px;
}

.vk-header-text {
	padding: 2px 3px 1px;
	line-height: 100%;
	color: rgb(69, 104, 142);
	font-weight: bold;
}

.vk-comment,
.vk-comment-load {
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid rgb(218, 225, 232);
	padding-bottom: 15px;
}

.vk-avatar img {
	float: left;
	margin-right: 10px;
}
.vk-avatar a {
	float: left;
}
.vk-comment-name {
	color: rgb(43, 88, 122);
	font-weight: bold;
	font-size: 12px;
}

.vk-comment-name a {
	color: inherit;
	text-decoration: none;
}

.vk-comment-text {
	margin-left: 60px;
}

.vk-comment-date {
	margin-left: 60px;
	color: rgb(153, 153, 153);
}

.content-right {
	display: block;
	width: 27%;
	float: right;
	position: relative;
}

.content-right-recommend-container {
	display: block;
	max-width: 270px;
	width: 100%;
}

.content-right-recommend {
	display: block;
	width: auto;
}

.content-right-recommend-top {
	height: 48px;
	background: rgb(74, 162, 36) none repeat scroll 0% 0%;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 48px;
	position: relative;
	text-align: center;
}

.content-right-recommend-top::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0px 17px 13px 0px;
	border-color: transparent rgb(74, 162, 36) transparent transparent;
	left: 0px;
	bottom: -13px;
}

.content-right-recommend-top::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 13px 17px 0px 0px;
	border-color: rgb(74, 162, 36) transparent transparent;
	right: 0px;
	bottom: -13px;
}

.content-right-recommend-middle {
	width: 86%;
	display: block;
	margin: auto;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	padding: 1% 1% 7%;
	text-align: center;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	text-decoration: none;
}

.content-right-recommend-middle img {
	display: block;
	width: 75%;
	margin: 7% auto;
}

.content-right-statistic {
	display: block;
	width: 96%;
	padding: 0px 2% 2%;
	background: rgb(243, 243, 243) none repeat scroll 0% 0%;
	color: rgb(81, 81, 81);
	margin-top: 5%;
}

.content-right-statistic-head {
	display: block;
	width: auto;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 1%;
}

.content-right-statistic-info {
	display: block;
	width: 100%;
	margin-bottom: 1%;
}

.content-right-statistic-info-left {
	display: block;
	float: left;
	width: 60%;
	text-align: right;
	font-size: 14px;
}

.content-right-statistic-info-right {
	display: block;
	float: left;
	width: 37%;
	font-size: 14px;
	margin-left: 3%;
	font-weight: bold;
	text-align: left;
}

.content-right-statistic-info::after {
	content: "";
	display: block;
	clear: both;
}

.content-product-img {
	display: block;
	width: 45%;
	margin-bottom: 25px;
	margin-top: 25px;
}

.content::after {
	content: "";
	display: block;
	clear: both;
}

.bottom-menu {
	display: none;
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgb(74, 162, 36);
	padding: 2.5% 0px;
}

.bottom-menu-left {
	display: block;
	float: left;
	width: 54%;
	margin-left: 5%;
}

.bottom-menu-left-foto {
	display: block;
	width: 12%;
	float: left;
}

.bottom-menu-left-foto img {
	display: block;
	width: 100%;
}

.bottom-menu-left-text {
	color: rgb(255, 255, 255);
	font-size: 14px;
	width: 85%;
	float: right;
	margin-left: 3%;
	margin-top: 3%;
	line-height: 1.4;
}

.bottom-menu-left::after {
	content: "";
	display: block;
	clear: both;
}

.bottom-menu-right {
	display: block;
	width: 30%;
	float: right;
	margin-right: 5%;
	margin-top: 1%;
}

.bottom-menu-right a {
	display: inline-block;
	float: right;
	font-size: 11px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 3px;
	background: transparent -webkit-gradient(linear, left top, left bottom, from(rgb(255, 213, 0)), color-stop(49%, rgb(255, 183, 0)), to(rgb(255, 161, 0))) repeat scroll 0% 0%;
	background: transparent linear-gradient(to bottom, rgb(255, 213, 0) 0%, rgb(255, 183, 0) 49%, rgb(255, 161, 0) 100%) repeat scroll 0% 0%;
}

.bottom-menu::after {
	content: "";
	display: block;
	clear: both;
}

.footer {
	float: right;
	display: block;
	width: 97%;
	max-width: 1000px;
	padding: 1% 1.5%;
	margin: 0px auto;
	background: rgb(235, 235, 235) none repeat scroll 0% 0%;
}

.footer-text {
	color: rgb(56, 56, 56);
}

.ouimain-text-img::after {
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 1199px) {
	.content-right {
		display: none;
	}

	.content-left {
		width: 100%;
		padding-right: 0px;
	}
}

@media screen and (max-width: 989px) {
	.content {
		max-width: 750px;
		padding: 3% 6%;
		width: 88%;
	}

	.header-bottom ul li a {
		font-size: 1.46vw;
	}

	.like-block {
		margin: 5% 0px;
	}

	.footer {
		position: relative;
		z-index: 1;
		max-width: 750px;
		padding: 1% 6% 1%;
		width: 88%;
	}
}

@media screen and (max-width: 720px) {
	.header-top-right {
		display: none;
	}

	.content-product-img {
		display: block;
		width: 100%;
	}

	.content-left-social-comments {
		font-size: 2.8vw;
	}

	.content-left-social-pictures img {
		width: 100%;
	}

	.content-left-social-pictures {
		margin-top: 1%;
	}

	.header-bottom ul li {
		display: inline-block;
		width: 27%;
		padding: 2% 3%;
		text-align: center;
	}

	.header-bottom ul li a {
		font-size: 14px;
	}
}

@media screen and (max-width: 599px) {
	.bottom-menu {
		display: block;
	}

	.header-top-left-logo {
		width: 60%;
	}

	.content-left-doctor-foto {
		float: none;
		width: 100%;
	}

	.content-left-doctor-text {
		float: none;
		width: 100%;
		margin-top: 3%;
	}
}

@media screen and (max-width: 545px) {
    iframe {
        height:860px!important;
    }
}
    }

@media screen and (max-width: 429px) {
	.like-block img {
		width: 100%;
	}

	.header-top-container {
		padding: 3% 2%;
	}
}

@media screen and (max-width: 408px) {
	.bottom-menu-left-foto {
		margin-top: 5%;
	}
}

@media screen and (max-width: 385px) {
	.bottom-menu-right {
		width: 36%;
		margin-top: 2%;
	}

	.header-bottom ul li {
		width: 44%;
		padding: 3%;
	}
}

#popup-coment {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: auto;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border: 1px solid rgb(218, 226, 232);
	padding: 10px;
	z-index: 100;
	max-width: 375px;
}

#popup-coment .vk-comment-load {
	margin-bottom: 0px;
	border-bottom: 0px none;
	padding-bottom: 0px;
	position: relative;
}

#popup-coment .vk-comment-text {
	margin-bottom: 20px;
	margin-top: 5px;
}

#popup-coment .vk-comment-date {
	padding-bottom: 5px;
}

.vk-comment-read {
	display: block;
	width: auto;
	background: rgb(69, 104, 142) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	font-size: 15px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	text-align: center;
	padding: 5px 15px;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
	text-decoration: none;
	font-style: normal;
}

.vk-comment-read:hover {
	opacity: 0.7;
	color: rgb(255, 255, 255);
	background: rgb(69, 104, 142) none repeat scroll 0% 0%;
}

.vk-comment-close {
	display: block;
	position: absolute;
	top: -8px;
	right: -8px;
	width: 7%;
	cursor: pointer;
}

.vk-comment-close img {
	display: block;
	width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	#popup-coment {
		bottom: 10px;
		left: 10px;
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		border: 1px solid rgb(218, 226, 232);
		padding: 10px;
		z-index: 100;
		max-width: 315px;
		width: 86%;
	}

	#popup-coment .vk-comment-text {
		position: relative;
		margin-bottom: 5px;
	}

	#popup-coment .vk-comment-date {
		padding-bottom: 40px;
	}

	.vk-comment-read {
		right: 20px;
	}
}

@media screen and (min-width: 320px) and (max-width: 468px) {
	#popup-coment .vk-comment-text {
		position: relative;
		overflow: hidden;
		height: 95px;
		margin-bottom: 5px;
	}

	#popup-coment .vk-comment-text::after {
		content: "...";
		display: block;
		position: absolute;
		right: 5px;
		bottom: 6px;
		font-size: 15px;
	}

	#popup-coment .vk-comment-date {
		padding-bottom: 40px;
	}

	.vk-comment-read {
		right: 20px;
	}
}

.screenLock {
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
	top: 0px;
	left: 0px;
	z-index: 99999;
	display: none;
}

.msg {
	position: absolute;
	width: 750px;
	height: 480px;
	top: 150px;
	left: 46%;
	margin-left: -300px;
	background: rgb(33, 167, 229) none repeat scroll 0% 0%;
	border: 7px solid rgb(238, 238, 238);
}

.msg>h1 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.msg>h2 {
	color: rgb(255, 255, 255);
	text-align: left;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.close {
	position: absolute;
	top: 1px;
	right: 5px;
	font-size: 40px;
	cursor: pointer;
}

.submit {
	margin-top: 10px;
	height: 75px;
	width: 450px;
	background-color: firebrick;
	color: rgb(255, 255, 255);
	font-size: 30px;
	border-radius: 3px;
}

.vote-block {
	width: auto;
	display: block;
	background: rgb(238, 239, 241) none repeat scroll 0% 0%;
	border-radius: 3px;
}

.vote-block-head {
	display: block;
	text-align: left;
	width: auto;
	padding: 15px 20px;
}

.vote-block-head h2 {
	color: rgb(143, 0, 1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-top: 0px;
}

.vote-block-head span {
	font-size: 18px;
	color: rgb(0, 0, 0);
	text-transform: lowercase;
}

.vote-block-content {
	display: block;
	width: auto;
	border: 1px solid rgb(238, 239, 241);
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	padding: 0px 20px;
	font-size: 14px !important;
}

.vote-block-content-container:first-child {
	margin-top: 30px;
}

.vote-block-content-container:last-child {
	margin-bottom: 40px;
}

.vote-block-content-container {
	display: block;
	width: auto;
	margin-bottom: 20px;
}

.vote-block-content-container::after {
	content: "";
	display: block;
	clear: both;
}

.vote-block-content-text {
	float: left;
	display: block;
	width: 40%;
	text-align: left;
}

.vote-block-content-stat {
	display: block;
	float: right;
	width: 60%;
	position: relative;
	background: rgb(238, 239, 241) none repeat scroll 0% 0%;
	height: 25px;
}

.vote-block-content-stat-line {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 35%;
	height: 100%;
	background: rgb(102, 160, 29) none repeat scroll 0% 0%;
	text-align: right;
}

.vote-block-content-stat-line h6 {
	font-size: 12px;
	color: rgb(238, 239, 241);
	margin-left: 121%;
	margin-top: 4px;
}

.line-1 {
	width: 23%;
	background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-2 {
	width: 47%;
	background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-3 {
	width: 8%;
	background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-4 {
	width: 17%;
	background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-5 {
	width: 5%;
	background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-1 h6 {
	color: rgb(102, 160, 29);
}

.line-2 h6 {
	color: rgb(102, 160, 29);
	margin-left: 108%;
}

.line-3 h6 {
	color: rgb(102, 160, 29);
}

.line-4 h6 {
	color: rgb(147, 149, 152);
}

.line-5 h6 {
	color: rgb(147, 149, 152);
}

.iframe {
	width: 100%;
	height: 300px;
	background: rgb(160, 186, 138) none repeat scroll 0% 0%;
	border: 5px dashed black;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0px none;
}

.iframe {
	width: 100%;
	height: 350px;
	background: rgb(160, 186, 138) none repeat scroll 0% 0%;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0px none;
}

#ifr {
	position: absolute;
	top: 0px;
	left: 0px;
}


.zakaz {
	border-radius: 10px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	color: #fff;
	/* ���� ������ */
	text-decoration: none;
	/* ������� ������������� � ������ */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* ������� ��������� ������ */
	background: rgb(212, 75, 56);
	/* ��� ������ */
	padding: .7em 1.5em;
	/* ������ �� ������ */
	outline: none;
	/* ������� ������ � Mozilla */
}

.zakaz:hover {
	background: rgb(232, 95, 76);
	text-decoration: none;
}

.zakaz:active {
	background: rgb(152, 15, 0);
	text-decoration: none;
}





@media screen and (max-width: 600px) {
	.content-left h1 {
		font-size: 20px;
	}

}


.outline {
	border: 4px solid darkred;
	padding: 0 10px;
}

span.im-caret {
	-webkit-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {

	from,
	to {
		border-right-color: black;
	}

	50% {
		border-right-color: transparent;
	}
}

@-webkit-keyframes blink {

	from,
	to {
		border-right-color: black;
	}

	50% {
		border-right-color: transparent;
	}
}

span.im-static {
	color: grey;
}

div.im-colormask {
	display: inline-block;
	border-style: inset;
	border-width: 2px;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

div.im-colormask>input {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	color: transparent;
	-webkit-appearance: caret;
	-moz-appearance: caret;
	appearance: caret;
	border-style: none;
	left: 0;
	/*calculated*/
}

div.im-colormask>input:focus {
	outline: none;
}

div.im-colormask>input::selection {
	background: none;
}

div.im-colormask>input::-moz-selection {
	background: none;
}

div.im-colormask>div {
	color: black;
	display: inline-block;
	width: 100px;
	/*calculated*/
}

.pl_field_submit {
	display: none;
}

#created-button-1,
#created-button-2 {
	line-height: 1.7em !important;
}

.my-com-date {
	color: rgb(91, 95, 101);
	text-shadow: 0 0 0px #000000;
	font-weight: 600;
	line-height: 34px;
	padding: 1px 4px 1px 4px;
	background: #fdfdfd;
	border-radius: 3px;
	font-size: 20px;
}

.out-comebacker-content-btn:hover {
	text-decoration: none !important;
	-webkit-transition: 0.3s !important;
	transition: 0.3s !important;
}

.out-comebacker-content-btn:focus {
	text-decoration: none;
	color: #fff;
}

.out-comebacker-content-btn:active {
	border: 1px solid #fff;
}

a:active,
a:focus {
	outline: none;
}

input,
textarea {
	outline: none;
}

input:active,
textarea:active {
	outline: none;
}

:focus {
	outline: none;
}

textarea {
	resize: none;
}

textarea {
	resize: vertical;
}

textarea {
	resize: horizontal;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}

.rub-ramka {
	margin-top: 22px;
	margin-bottom: 28px;
	background: rgba(white);
	padding: 12px 15px !important;
	color: rgb(8, 8, 8);
	font-size: 18px;
	font-family: roboto condensed, arial;
	border: 2px solid;
	border-radius: 4px;
	border-color: #bd3d4d;
	text-shadow: 0 0 0 #616161;
	text-indent: 0 !important;
	text-align: left;
}

.of-site:hover {
	color: rgba(255, 0, 0, 0.72) !important;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	text-decoration: underline;
}

.comment-user p {
	text-indent: 0 !important;
}

.mycity {
	background: #616161;
	padding: 2px 4px;
	text-transform: uppercase;
	font-weight: 100;
	color: #ffffff;
	font-size: 10px;
	margin-left: 6px;
	vertical-align: super;
	border-radius: 1px;
}

@media screen and (max-width: 600px) {
	.rub-ramka {
		text-align: justify !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.podpis-ramka {
	display: block;
	margin-top: 20px;
	font-size: 15px;
	text-decoration: underline;
	color: #9a5b5b;
}

.font-form {
	text-transform: uppercase;
	max-width: 75%;
	display: block;
	line-height: 30px;
	margin-top: 33px;
	font-size: 23px;
}

.myh2 {
	max-width: 96%;
}

@media screen and (max-width: 710px) {
	.block_form label {
		float: left !important;
	}

	.iframe {
		height: auto !important;
	}
}

.submit {
	margin: 0px 0px;
	text-align: center;
	width: 100%;
	height: auto;
	background: transparent none repeat scroll 0px center;
	position: static;
	padding: 0px;
	border: 0px none;
}

.submit {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.submit {
	float: none;
}

.submit[type="text"] {
	height: 56px;
	line-height: 56px;
	color: rgb(34, 34, 34);
	border: 2px solid rgb(189, 189, 189);
	padding: 0px 15px;
	width: 100%;
	display: inline-block;
	text-indent: 0px;
	border-radius: 3px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	font-size: 20px;
	font-style: normal;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: static;
	margin: 0px 0px 10px;
}

.submit[type="submit"] {
	position: absolute;
	cursor: pointer;
	border: 1px solid rgb(73, 155, 234);
	background: transparent linear-gradient(135deg, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	padding: 0px 10px;
	text-transform: uppercase;
	line-height: 60px;
	vertical-align: top;
	display: block;
	text-indent: 0px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	width: 402px;
	height: 64px;
	opacity: 1;
	bottom: 20px;
	margin-left: 195px;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	border-radius: 10px;
	-webkit-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}

.submit[type="submit"]:hover {
	background: transparent -webkit-gradient(linear, left top, left bottom, from(rgb(222, 69, 92)), color-stop(13%, rgb(222, 69, 92)), color-stop(76%, rgb(192, 31, 55)), to(rgb(192, 31, 55))) repeat scroll 0% 0%;
	background: transparent linear-gradient(to bottom, rgb(222, 69, 92) 0%, rgb(222, 69, 92) 13%, rgb(192, 31, 55) 76%, rgb(192, 31, 55) 100%) repeat scroll 0% 0%;
}


.oui {
	width: 781px;
	height: 460px;
	background: rgba(60, 114, 181, 1);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(60, 114, 181, 1)), color-stop(100%, rgba(123, 159, 204, 1)));
	background: linear-gradient(135deg, rgba(60, 114, 181, 1) 0%, rgba(123, 159, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5', endColorstr='#7b9fcc', GradientType=1);
	font-family: Roboto !important;
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%,-50%);
	        transform: translate(50%,-50%);
	border: 5px solid #dddddd;
}

.actsss {
	display: none !important;
}

.eeee {
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	cursor: pointer;
}

.kmacb-form2 .modal-block {
	-webkit-transform: translate(50%, -50%);
	        transform: translate(50%, -50%);
	position: fixed;
	top: 50%;
	right: 50%;
	z-index: 110000;
	width: 814px;
	height: 470px;
	border-radius: 5px;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: Arial, sans-serif;
	overflow-y: scroll;
	color: #222;
}

p.ouimainp {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 23px;
	display: block;
	color: #fff;
	text-align: center;
}

.ouimain-text-img {
	display: block;
	width: 90%;
	padding: 0 5%;
	margin-top: 27px;
}

.ouimain-img {
	float: left;
	display: block;
	width: 30%;
	margin: 0 auto;
}

.ouimain-img img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.ouimain-text {
	display: block;
	width: 65%;
	float: right;
	margin-left: 5%;
	margin-top: 15px;
}

.ouimain-text p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	text-align: left;
	color: #fff;
	font-size: 22px;
	padding-bottom: 5px;
}

.ouimain-text-img:after {
	content: '';
	display: block;
	clear: both;
}

.kmacb-form form {
	margin: 30px 0;
	text-align: center;
	width: 100%;
	height: auto;
	background: 0;
	position: static;
	padding: 0;
	border: 0;
}

.kmacb-form2 form * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.kmacb-form form input {
	float: none;
}

.kmacb-form form input[type=text] {
	height: 56px;
	line-height: 56px;
	color: #222;
	border: 2px solid #bdbdbd;
	padding: 0 15px;
	width: 100%;
	display: inline-block;
	text-indent: 0;
	border-radius: 3px;
	background: #fff;
	font-size: 20px;
	font-style: normal;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: static;
	margin: 0 0 10px 0;
}

.kmacb-form input[type=button] {
	position: absolute;
	cursor: pointer;
	border: 1px solid rgba(73, 155, 234, 1);
	background: rgba(222, 69, 92, 1);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), color-stop(100%, rgba(192, 31, 55, 1)));
	background: linear-gradient(135deg, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c', endColorstr='#c01f37', GradientType=1);
	color: #fff;
	padding: 0 10px;
	text-transform: uppercase;
	line-height: 60px;
	vertical-align: top;
	display: block;
	text-indent: 0;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	width: 402px;
	height: 64px;
	opacity: 1;
	bottom: 29px;
	margin-left: 195px;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	border-radius: 10px;
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
}

.kmacb-form form input[type=submit]:hover {
	background: rgba(222, 69, 92, 1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), color-stop(100%, rgba(192, 31, 55, 1)));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 69, 92, 1)), color-stop(13%, rgba(222, 69, 92, 1)), color-stop(76%, rgba(192, 31, 55, 1)), to(rgba(192, 31, 55, 1)));
	background: linear-gradient(to bottom, rgba(222, 69, 92, 1) 0%, rgba(222, 69, 92, 1) 13%, rgba(192, 31, 55, 1) 76%, rgba(192, 31, 55, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c', endColorstr='#c01f37', GradientType=0);
}


.show {
	display: block !important;
}

a.show-img {
	width: 90%;

	display: inline-block;

	border: 1px solid #bbb;

	padding: 5px 10px;

	border-radius: 3px;

	background: #bbbbbb;

	color: black;

	text-decoration: none;

	margin-bottom: 15px;

}

a.knopka {
	color: #fff;
	/* ���� ������ */
	text-decoration: none;
	/* ������� ������������� � ������ */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* ������� ��������� ������ */
	background: rgb(212, 75, 56);
	/* ��� ������ */
	padding: .7em 1.5em;
	/* ������ �� ������ */
	outline: none;
	/* ������� ������ � Mozilla */
}

a.knopka:hover {
	background: rgb(232, 95, 76);
}

/* ��� ��������� ������� ����� */
a.knopka:active {
	background: rgb(152, 15, 0);
}

/* ��� ������� */


.table-overflow {
	overflow-x: auto;
}

.lucky-chat {
	position: fixed;
	width: 320px;
	height: 405px;
	bottom: -340px;
	right: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 35px 0 rgba(39, 40, 44, .2);
	box-shadow: 0 10px 35px 0 rgba(39, 40, 44, .2);
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: top .3s linear, bottom .3s linear;
	transition: top .3s linear, bottom .3s linear
}

.lucky-chat * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Roboto, sans-serif
}

.lucky-chat--on {
	bottom: 0
}

.lucky-chat-header {
	background-color: #242939;
	color: #fff;
	height: 65px;
	padding: 10px;
	font-size: 0;
	position: relative;
	cursor: pointer
}

.lucky-chat-header>* {
	display: inline-block
}

.lucky-chat-header__logo {
	background-image: url(../img/ffe2159a6ae83ccdc0e434e610f0f22f.png);
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 5px;
	position: relative;
	top: 3px
}

.lucky-chat-header__title {
	font-size: 14px;
	max-width: 215px
}

.lucky-chat-header__caret {
	position: absolute;
	display: block;
	top: 50%;
	right: 20px;
	width: 19px;
	height: 11px;
	margin-top: -5.5px;
	background-image: url(../img/c5789617b6bf73228fe5f84c70df3d2a.png);
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.lucky-chat--on .lucky-chat-header__caret {
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

.lucky-chat-status {
	height: 22px;
	line-height: 22px;
	padding: 0 15px;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 35px 0 rgba(39, 40, 44, .2);
	box-shadow: 0 10px 35px 0 rgba(39, 40, 44, .2)
}

.lucky-chat-status__text {
	font-size: 12px;
	position: relative;
	-webkit-transition: color .5s linear;
	transition: color .5s linear
}

.lucky-chat-status__text--online {
	color: #93c296
}

.lucky-chat-status__text--online:before {
	background-color: #93c296
}

.lucky-chat-status__text--offline {
	color: red
}

.lucky-chat-status__text--offline:before {
	background-color: red
}

.lucky-chat-status__text:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 3px
}

.lucky-chat-message {
	height: 240px;
	padding: 12px 18px;
	overflow-x: auto;
	font-size: 14px
}

.lucky-chat-message__text {
	padding: 10px;
	border-radius: 3px;
	position: relative
}

.lucky-chat-message__text:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid
}

.lucky-chat-message__name {
	margin-bottom: 5px;
	font-weight: 700
}

.lucky-chat-message__item--doctor .lucky-chat-message__name {
	color: #fff;
	background-color: #5fc890;
	height: 50px;
	margin: 0 0 -2px;
	padding: 10px;
	position: relative
}

.lucky-chat-message__item--doctor .lucky-chat-message__name>* {
	vertical-align: middle;
	display: inline-block
}

.lucky-chat-message__item--doctor .lucky-chat-message__name-text {
	max-width: 100px;
	position: relative;
	top: -1px
}

.lucky-chat-message__item--doctor .lucky-chat-message__name:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	top: 0;
	right: 100%;
	margin-right: -2px;
	border-color: transparent #5fc890 transparent transparent;
	border-width: 0 14px 12px 0
}

.lucky-chat-message__item--doctor .lucky-chat-message__text {
	background-color: #24b871;
	color: #fff
}

.lucky-chat-message__item--doctor .lucky-chat-message__text:after {
	display: none
}

.lucky-chat-message__item--guest .lucky-chat-message__name {
	color: #24293b
}

.lucky-chat-message__item--guest .lucky-chat-message__text {
	background-color: #c8d8e8
}

.lucky-chat-message__item--guest .lucky-chat-message__text:after {
	top: 0;
	left: 100%;
	margin-left: -2px;
	border-color: #c8d8e8 transparent transparent;
	border-width: 14px 12px 0 0
}

.lucky-chat-message__item--system .lucky-chat-message__name {
	color: #d47c3d
}

.lucky-chat-message__item--system .lucky-chat-message__text {
	background-color: #d47c3c;
	color: #fff
}

.lucky-chat-message__item--system .lucky-chat-message__text:after {
	top: 0;
	right: 100%;
	margin-right: -2px;
	border-color: transparent #d47c3c transparent transparent;
	border-width: 0 14px 12px 0
}

.lucky-chat-message__item+.lucky-chat-message__item {
	margin-top: 15px
}

.lucky-chat-send {
	padding: 12px 20px;
	background-color: #eef0f4
}

.lucky-chat-send__chat {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 52px;
	background-color: #fff;
	padding: 12px;
	border: 1px solid #42b76b;
	font-size: 14px;
	border-radius: 3px;
	resize: none
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

.animated {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

.header {
	background: #f5f5f5;
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.header .top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 25px;
}

.header .logo {
	font-size: 50px;
	line-height: 1;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	color: #8d8c88;
	position: relative;
	margin-right: 20px;
}

.header .logo a {
	color: inherit;
	text-decoration: none;
}

.header .logo:after {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 50%;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	width: calc(100% + 15px);
	height: 5px;
	background-color: #ba0e0c;
	z-index: 1;
}

.header .wrap {
	width: 100%;
	height: 55px;
	background-color: #e7e9e8;
	padding: 0 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header .wrap a {
	color: inherit;
	text-decoration: none;
}

.header .wrap div {
	font-size: 20px;
	text-transform: uppercase;
	color: #989da3;
}

.header .wrap div span {
	color: #6b7574;
	text-decoration: underline;
}

.header .wrap p {
	max-width: 240px;
	width: 100%;
	font-size: 16px;
	color: #d84965;
	padding-left: 75px;
	position: relative;
}

.header .wrap p:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../img/header-img.png) no-repeat;
	width: 65px;
	height: 65px;
}

.header .bot {
	border-top: 2px solid #000;
	border-bottom: 9px solid #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 7px 0 11px;
}

.header .bot ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header .bot li {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	padding: 0 7px;
	position: relative;
}

.header .bot li:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 2px;
	height: 15px;
	background-color: #d9d9e3;

}

.header .bot li:first-child {
	padding-left: 0;
}

.header .bot li:last-child {
	padding-right: 0;
}

.header .bot li:last-child:after {
	display: none;
}

.header .bot li a {
	color: inherit;
	text-decoration: none;
}

.header .bot form {
	position: relative;
	min-height: 26px;
}

.header .bot form input {
	padding-left: 10px;
	font-size: 12px;
	color: #8d9190;
	border: 1px solid #8d9190;
}

.header .bot form button {
	background: url(../img/search.png) no-repeat center;
	background-size: contain;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 1199px) {
	.header .bot form {
		display: none;
	}

	.header .top {
		margin-bottom: 10px;
	}

	.header .wrap>a {
		display: none;
	}
}

@media screen and (max-width: 989px) {
	.header .wrap {
		display: none;
	}

	.header .bot {
		border-bottom-width: 5px;
		padding: 5px 0 7px;
	}

	.header .bot li {
		font-size: 12px;
	}

	.oui {
		width: 500px;
		height: 300px;
		margin: 0 auto;
	}
	.close {
		top: -7px;
	}
	p.ouimainp {
		font-size: 16px;
		margin: 0;
	}
	.ouimain-text p {
		margin: 0;
		font-size: 16px;
	}
	.ouimain-text-img {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.ouimain-text-img+a {
		display: inline-block;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.ouimain .submit[type="submit"] {
		font-size: 18px;
		margin: 0 auto;
		width: 75%;
	}
}

@media screen and (max-width: 710px) {
	.header {
		padding: 10px;
	}

	.header .top {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.header .logo {
		margin: 0;
	}

	.header .bot {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.oui {
		width: 285px;
		padding: 10px;
	}
	.close {
		font-size: 30px;
	}
	p.ouimainp {
		padding-top: 27px;
	}
	.ouimain-img {
		display: none;
	}
	.ouimain-text-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	}
	.ouimain-text p {
		text-align: center;
		margin-bottom: 15px;
	}
	.ouimain-text {
		width: 100%;
		float: none;
		margin: 0;
	}
	.ouimain .submit[type="submit"] {
		font-size: 13px;
	}
}